{% load i18n admin_urls static admin_list %}
<div id="changelist-form" hx-target="this" hx-select="#changelist-form" hx-swap="outerHTML" hx-push-url="true">
<form id="changelist-form-inner" method="post"{% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
    {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
    {% endif %}

    {% block result_list %}
        {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
        {% result_list cl %}
        {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
    {% endblock %}
    {% block pagination %}{% pagination cl %}{% endblock %}
</form>
</div>
