{% load i18n %}
<div class="module yp-filter yp-filter-multiselect">
  <h3>{% blocktranslate with filter_title=title %}By {{ filter_title }}{% endblocktranslate %}</h3>
  <select name="{{ spec.parameter_name }}"
          multiple
          {% include "admin/yp_admin/_htmx_filter_attrs.html" %}
          hx-include="[name='{{ spec.parameter_name }}']">
    {% for choice in choices %}
      {% if choice.value %}
        <option value="{{ choice.value }}" {% if choice.selected %}selected{% endif %}>
          {{ choice.display }}
        </option>
      {% endif %}
    {% endfor %}
  </select>
</div>
