{% load i18n %}
<div class="module yp-filter yp-filter-dropdown">
  <h3>{% blocktranslate with filter_title=title %}By {{ filter_title }}{% endblocktranslate %}</h3>
  <select name="{{ spec.parameter_name|default:spec.field_path }}"
          {% include "admin/yp_admin/_htmx_filter_attrs.html" %}
          data-yp-auto-submit="true">
    {% for choice in choices %}
      <option value="{{ choice.query_string|default:'?' }}" {% if choice.selected %}selected{% endif %}>
        {{ choice.display }}
      </option>
    {% endfor %}
  </select>
  <noscript>
    <ul>
      {% for choice in choices %}
        <li{% if choice.selected %} class="selected"{% endif %}>
          <a href="{{ choice.query_string }}">{{ choice.display }}</a>
        </li>
      {% endfor %}
    </ul>
  </noscript>
</div>
